@charset "UTF-8";

body {
    background: rgb(68, 139, 233);
    font: 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    width: 500px;
    padding: 15px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.164);
    border-radius: 10px;
    margin: auto;
}

div {
    text-align: center;
    padding: 8px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}